<a href="https://colab.research.google.com/github/SidneyRz/estadistica_sem13/blob/main/Correlacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, mean, corr

In [2]:
spark = SparkSession.builder.appName("Estadistica").getOrCreate()

In [3]:
df=spark.read.csv("ejemplo_notas1.csv", header=True, inferSchema=True)

In [4]:
df.show()

+---------+---+---+---+
|   Alumno| T1| T2| T3|
+---------+---+---+---+
|   Pepito| 12| 10| 14|
|     Jose| 15| 19| 15|
|   Camila| 17| 17| 17|
|     Luis| 11| 15| 16|
|      Ana| 12| 10| 15|
|    Maria| 16| 11| 17|
|Sebastian| 18| 12| 12|
|    Marco| 20| 16| 18|
|  William| 16| 14| 13|
|   Alvaro| 19| 18| 14|
+---------+---+---+---+

In [6]:
correlacion = df.select(corr(col("T1"),col("T2")).alias("correlacion")).collect()[0]["correlacion"]

In [7]:
print("La correlacion es:",correlacion)

La correlacion es: 0.45059849964617654

In [8]:
correlacion2 = df.select(corr(col("T2"),col("T3")).alias("correlacion")).collect()[0]["correlacion"]

In [9]:
print("La correlacion es:",correlacion2)

La correlacion es: 0.22360543297488972

In [10]:
correlacion3 = df.select(corr(col("T1"),col("T3")).alias("correlacion")).collect()[0]["correlacion"]

In [11]:
print("La correlacion es:",correlacion3)

La correlacion es: 0.08252734171116254