<a href="https://colab.research.google.com/github/SidneyRz/estadistica_sem13/blob/main/Media.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, mean, corr,row_number

In [2]:
spark = SparkSession.builder.appName("Estadistica").getOrCreate()

In [3]:
df = spark.read.csv("ejemplo_notas1.csv", header=True, inferSchema=True)

In [4]:
df.show()

+---------+---+---+---+
|   Alumno| T1| T2| T3|
+---------+---+---+---+
|   Pepito| 12| 10| 14|
|     Jose| 15| 19| 15|
|   Camila| 17| 17| 17|
|     Luis| 11| 15| 16|
|      Ana| 12| 10| 15|
|    Maria| 16| 11| 17|
|Sebastian| 18| 12| 12|
|    Marco| 20| 16| 18|
|  William| 16| 14| 13|
|   Alvaro| 19| 18| 14|
+---------+---+---+---+

In [7]:
df.select(mean(col("T1")).alias("Media/T1")).show()

+--------+
|Media/T1|
+--------+
|    15.6|
+--------+

In [9]:
df.select(mean(col("T2")).alias("Media/T2")).show()

+--------+
|Media/T2|
+--------+
|    14.2|
+--------+

In [10]:
df.select(mean(col("T3")).alias("Media/T3")).show()

+--------+
|Media/T3|
+--------+
|    15.1|
+--------+