<a href="https://colab.research.google.com/github/SidneyRz/estadistica_sem13/blob/main/Mediana.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, mean, corr

In [3]:
spark = SparkSession.builder.appName("Estadistica").getOrCreate()

In [4]:
df=spark.read.csv("ejemplo_notas1.csv", header=True, inferSchema=True)

In [5]:
df.show()

+---------+---+---+---+
|   Alumno| T1| T2| T3|
+---------+---+---+---+
|   Pepito| 12| 10| 14|
|     Jose| 15| 19| 15|
|   Camila| 17| 17| 17|
|     Luis| 11| 15| 16|
|      Ana| 12| 10| 15|
|    Maria| 16| 11| 17|
|Sebastian| 18| 12| 12|
|    Marco| 20| 16| 18|
|  William| 16| 14| 13|
|   Alvaro| 19| 18| 14|
+---------+---+---+---+

In [6]:
var_mediana = df.approxQuantile("T1",[0.5],0.0)

In [7]:
print("La mediana es:",var_mediana)

La mediana es: [16.0]

In [8]:
var_mediana2 = df.approxQuantile("T2",[0.5],0.0)

In [9]:
print("La mediana es:",var_mediana2)

La mediana es: [14.0]

In [10]:
var_mediana3 = df.approxQuantile("T3",[0.5],0.0)

In [11]:
print("La mediana es:",var_mediana3)

La mediana es: [15.0]