<a href="https://colab.research.google.com/github/SidneyRz/estadistica_sem13/blob/main/Moda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, expr, mean, corr

In [2]:
spark = SparkSession.builder.appName("Estadistica").getOrCreate()

In [12]:
df = spark.read.csv("ejemplo_notas1.csv", header=True, inferSchema=True)

In [13]:
df.show()

+---------+---+---+---+
|   Alumno| T1| T2| T3|
+---------+---+---+---+
|   Pepito| 12| 10| 14|
|     Jose| 15| 19| 15|
|   Camila| 17| 17| 17|
|     Luis| 11| 15| 16|
|      Ana| 12| 10| 15|
|    Maria| 16| 11| 17|
|Sebastian| 18| 12| 12|
|    Marco| 20| 16| 18|
|  William| 16| 14| 13|
|   Alvaro| 19| 18| 14|
+---------+---+---+---+

In [21]:
var_moda = df.groupBy("T1").count().orderBy(col("count").desc()).first()

In [30]:
print("La moda del examen T1:",var_moda["T1"])

La moda del examen T1: 12

In [23]:
var_moda2 = df.groupBy("T2").count().orderBy(col("count").desc()).first()

In [29]:
print("La moda del examen T2:",var_moda2["T2"])

La moda del examen T2: 10

In [26]:
var_moda3 = df.groupBy("T3").count().orderBy(col("count").desc()).first()

In [28]:
print("La moda del examen T3:",var_moda3["T3"])

La moda del examen T3: 15